<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DevOps test</title>
</head>
<body>
   <h1>DevOps test</h1>
   <h2>Counter: {{ website_counter if website_counter is not none else 'NaN' }}</h2>
   <h2>Last Access timestamp: {{ website_timestamp if website_timestamp is not none else 'NaN' }}</h2>
</body>
</html>